<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Categories</title>    
    <link rel="components" href="../taches/tache_table.html">
  </head>
  <body>
    <element name="x-category-table" constructor="CategoryTable" extends="span">
      <template>
        <table>
          <caption class="marker">
            Catégories
          </caption>
          <tr>
            <th>Nom</th>
            <th>Description</th>
            <th></th>

          </tr>
          <tbody template iterate="category in categories.toList()">
            <tr template if="display(category)">
              <td>    
                {{ category.code }}        
              </td>
              <td>
                {{ category.description }}
              </td>
              <td><img src="../component/compo_commun/icones/folder_magnify.png" on-click="showTaches(category)" alt="Tâches" />
              <img id="editCategoryButton" src="../component/compo_commun/icones/folder_edit.png" on-click="edit(category)" alt="Modifier" />
              <img src="../component/compo_commun/icones/folder_delete.png" on-click="delete(category)" alt="Supprimer" />
              </td>
            </tr>
            <tr template if="!display(category)"><!--Cette ligne est affiché dans le cas de modification-->
              <td>
                {{ category.code }}        
              </td>
              <td>
                <input id="edit-category-description" type="text" style="width:95%" value="{{ category.description }}"/>
              </td>
              <!--Refuser modification-->
              <!--Accepter modification-->
              <td align="center">
                <img src="../component/compo_commun/icones/cancel.png" on-click="refuserChangement(category)" alt="Refuser" />
                <img src="../component/compo_commun/icones/accept.png" on-click="update(category)" alt="Accepter" />
              </td>
             </tr><!--Fin de ligne de modification-->
          </tbody>
          <tr> <!--Ligne d'ajout-->
          <td><input id="add-category-code" type="text" style="width:95%"/></td>
          <td><input id="add-category-description" type="text" style="width:95%"/></td>
          <td><img src="../component/compo_commun/icones/folder_add.png" on-click="ajouterCategorie()" alt="Ajouter catégorie"/></td>
           </tr>

           </table>
          <span id="add-category-message"></span>

        <br/>
        <div template if="showCategoryTaches">
          <x-tache-table
            category="{{ category }}"
            taches="{{ category.taches }}">
          </x-tache-table>
        </div>
      </template>
      <script type="application/dart" src="category_table.dart"></script>
    </element>
  </body>
</html>
