<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Tâches</title>
  </head>
  <body>
    <element name="x-tache-table" constructor="TacheTable" extends="span">
      <template>
        <table>
          <caption class="marker">
            taches de la catégorie : {{ category.code }}
          </caption>
          <tr>
            <th>Tache</th>
            <th>Échéance</th>
            <th>Personnes impliqués</th>
            <th>Description</th>
            <th></th>
          </tr>
          <tbody template iterate="tache in taches.toList()">
            
            <!-- Dans le cas ou la modification n'est pas activé -->
           <tr template if="display(tache)">
              <td>{{ tache.code }}</td>
              <td>{{ tache.date.year }}/{{ tache.date.month }}/{{ tache.date.day }}</td>
              <td>
                
                 <template iterate="personnel in tache.listeDePersonel.toList()">
                  <li>{{ personnel.code }}</li>
                 </template>
              </td>            
              <td>{{ tache.description }}</td>
              <td>
              
              <img id="editTacheButton" src="../component/compo_commun/icones//application_edit.png" on-click="edit(tache)" alt="Modifier" />
              <img src="../component/compo_commun/icones/application_delete.png" on-click="delete(tache)" alt="Supprimer" />
              </td>
            </tr>
            


           <tr template if="!display(tache)">
              <td>{{ tache.code }}</td>
              <td><input id="edit-tache-echeance" type="date" value="{{ tache.getDateWithZero() }}"/></td>
              <td>
                
                 <template iterate="personnel in tache.listeDePersonel.toList()">
                  <li>{{ personnel.code }} <img src="../component/compo_commun/icones/user_delete.png" on-click="deletePersonne(personnel, tache)" alt="Supprimer la personne impliquée" /> </li>
                 </template>
                 <br/>
                 Liste Déroulante
                 <template iterate="personnel in personnels.toList()">
                  <li>{{ personnel.code }} <img src="../component/compo_commun/icones/user_add.png" on-click="ajouter(personnel, tache)" alt="Ajouter la personne à la tache" /> </li>
                 </template>
              </td>            
              <td><input id="edit-tache-description" type="text" style="width:95%" value="{{ tache.description }}"/></td>
              <td>
              <img src="../component/compo_commun/icones/cancel.png" on-click="refuserChangement(tache)" alt="Refuser" />
              <img src="../component/compo_commun/icones/accept.png" on-click="update(tache)" alt="Accepter" />
              </td>
            </tr>
            
            
             
          </tbody>
             <tr>
              <td><input id="add-tache-code" type="text" style="width:95%"/></td>
              <td><input id="add-tache-echeance" type="date"/></td>
              <td>
                  <template iterate="personnel in tacheAAjouter.listeDePersonel.toList()">
                  <li>{{ personnel.code }} <img src="../component/compo_commun/icones/user_delete.png" on-click="deletePersonne(personnel, tacheAAjouter)" alt="Supprimer la personne impliquée" /> </li>
                 </template>
                Liste Déroulante
                 <template iterate="personnel in personnels.toList()">
                  <li>{{ personnel.code }} <img src="../component/compo_commun/icones/user_add.png" on-click="ajouter(personnel, tacheAAjouter)" alt="Ajouter la personne à la tache" /> </li>
                 </template>
              </td>
              <td><input id="add-tache-description" type="text" style="width:95%"/></td>
              <td><img src="../component/compo_commun/icones/application_add.png" on-click="ajouterTache(tacheAAjouter)" alt="Ajouter Tache"/></td>
            </tr>
        </table>
        <span id="add-tache-message"></span>
      </template>
      <script type="application/dart" src="tache_table.dart"></script>
    </element>
  </body>
</html>
